<!-- <div id="temporary-home" class="col-xs-12"> -->

<div data-section-id="{{ section.id }}" class="">
<a href="/" class="logo_text"><img src="{{ 'logo.png' | asset_url }}" alt=""></a>

<!-- <div class="container" > -->
  <div class="row" id="capsule-container">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="back-holder">
      <div class="back">
        <a href="/">
        <img src="{{ 'arrow-left.svg' | asset_url }}" alt="">
        <div class="back-text">
        <p>back</p>
        <p>retour</p>
        <p>バック</p>
        <p>뒤로</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="here">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <!-- <div class="slide-number"></div> -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active" data-carousel="1">
        <img src="{{ 'photo1.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="2">
        <img src="{{ 'photo2.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="3">
        <img src="{{ 'photo3.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="4">
        <img src="{{ 'photo4.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="5">
        <img src="{{ 'photo5.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="6">
        <img src="{{ 'photo6.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="7">
        <img src="{{ 'photo7.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="8">
        <img src="{{ 'photo8.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="9">
        <img src="{{ 'photo9.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="10">
        <img src="{{ 'photo10.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="11">
        <img src="{{ 'photo11.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="12">
        <img src="{{ 'photo12.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="13">
        <img src="{{ 'photo13.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="14">
        <img src="{{ 'photo14.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="15">
        <img src="{{ 'photo15.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="16">
        <img src="{{ 'photo16.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="17">
        <img src="{{ 'photo17.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="18">
        <img src="{{ 'photo18.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="19">
        <img src="{{ 'photo19.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="20">
        <img src="{{ 'photo20.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="21">
        <img src="{{ 'photo21.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="22">
        <img src="{{ 'photo22.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="23">
        <img src="{{ 'photo23.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="24">
        <img src="{{ 'photo24.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="25">
        <img src="{{ 'photo25.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="26">
        <img src="{{ 'photo26.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="27">
        <img src="{{ 'photo27.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="28">
        <img src="{{ 'photo28.jpg' | asset_url }}" alt="">
      </div>

      <div class="item" data-carousel="29">
        <img src="{{ 'photo29.jpg' | asset_url }}" alt="">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="mobile-ready">
      <div class="right-text">
        <h3>all in capsule 2</h3>
        <p>This capsule include: Waterproof 3M® reflective signal logo Jacket, Hoodies, Sweatpants, T-shirts, Backpack, Japon and York sunglasses model with red sun lenses.</p>
        <p>Cette capsule comprend un blouson imperméable avec logo réflecteur 3M®, des chandails à capuchon, des pantalons en molleton, des t-shirts, un sac à dos, des lunettes de soleil modèle Japon et York avec lentilles rouges.</p>
        <p>このcapsuleに含まれるもの: 防水3M®反射シグナルロゴ入りジャケット、フーディ、スウェットパンツ、Tシャツ、バックパック、ショルダーバッグ、日本モデルのサングラス（レッドレンズ）、ソックス。</p>
        <p>캡슐에 포함된 구성품: 방수 처리 3M® 반사 시그널 로고 자켓, 후디, 스웨트팬츠, 티셔츠, 백팩, 숄더백, 빨간색 렌즈 Japon, York 선글라스, 양말</p>
      </div>
    </div>
  </div>
</div>


  <div class="row footer-info start-xs middle-sm">
    <div class="col-xs-12 col-sm-6 start-xs end-sm social">
      <span><a href="http://www.1888allin.tumblr.com/">Tumblr</a></span>
      <span><a href="https://www.facebook.com/allin.supply/?ref=br_rs">Facebook</a></span>
      <span><a href="https://www.instagram.com/allin.supply/?hl=en">Instagram</a></span>
    </div>
    <div class="col-xs-12 col-sm-6 start-xs email">
      <p>Contact: 1888@allin.supply</p>
    </div>
  </div>
