  <div class="container" id="closing-template">
    <div class="row" id="header">
      <div class="col-lg-5 col-md-6" id="first-haft-desktop">
        <div class="preview-capsule">
          <p><a href="/pages/capsule">
            capsule 2 preview<br>
            consultez l’aperçu complet de la capsule 2<br>
            capsule 2 プレビュー全体を表示<br>
            캡슐 2 미리 보기
         </a></p>
          <a href="/pages/capsule"><img src="{{ 'arrow-closing.svg' | asset_url }}"></a>
        </div>
      </div>
      <div class="col-lg-1 hidden-md">
      </div>
      <div class="col-lg-5 col-md-6" id="stockists">
      	<p>
         Visit our stockists<br>
         Visitez nos stockistes<br>
         取扱店<br>
         판매 매장 방문
        </p>
      </div>
    </div>

<!-- MOBILE DISPLAY -->

<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" id="second-haft-mobile">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="stockists">
        <p>
          Visit our stockists<br>
          Visitez nos stockistes<br>
          取扱店<br>
          판매 매장 방문
        </p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="dealers-holder">
      <div class="dealers" id="dealer-list-1">
        <ul>
          <li><a href="https://017shop.ca/collections/mens-all-in" target="_blank">/017</a></li>
          <li><a href="https://axelarigato.com/usd/catalogsearch/result?q=all+in" target="_blank">AXEL ARIGATO</a></li>
          <li><a href="https://axelarigato.com/usd/catalogsearch/result?q=all+in" target="_blank">AXEL ARIGATO</a></li>
          <li><a href="https://beneculture.com/collections/all-in" target="_blank">BENE CULTURE</a></li>
          <li><a href="https://www.facebook.com/pages/Block-190/2032847866941327" target="_blank">BLOCK190</a></li>
          <li><a href="https://www.antoinelaoun.com/" target="_blank">ANTOINE LAOUN</a></li>
          <li><a href="http://www.fifth-general-store.jp/" target="_blank">FIFTH GENERAL</a></li>
          <li><a href="https://www.generaladmission.us" target="_blank">GENERAL ADMISSION</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.ssense.com/en-ca/men/designers/all-in-eyewear" target="_blank">SSENSE</a></li>
          <li><a href="http://voskins.com/" target="_blank">VOSKIN</a></li>
          <li></li>
        </ul>
      </div>
      <div class="dealers" id="dealer-list-2">
        <ul>
        <li>Vancouver</li>
        <li>London, UK</li>
        <li>Stockholm</li>
        <li>Birhimgham</li>
        <li>Tel Aviv</li>
        <li>Montréal</li>
        <li>Tokyo</li>
        <li>Los Angeles</li>
        <li>London, UK</li>
        <li>Paris</li>
        <li>Amsterdam</li>
        <li class="transparent">Transparent</li>
        <li>Montreal</li>
        <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="logo-holder">
        <img src="{{ 'all_in_logo.svg' | asset_url }}">
      </div>
    </div>
  </div>
</div>

<!-- END MOBILE DISPLAY -->

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="first-haft-desktop">
        <div class="img-holder">
          <a href="/pages/capsule"><img src="{{ 'allin-img.jpg' | asset_url }}"></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="first-haft-mobile">
        <div class="img-holder">
          <a href="/pages/capsule"><img src="{{ 'allin-img.jpg' | asset_url }}"></a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" id="second-haft-desktop">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="stockists">

            </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="dealers-holder">
            <div class="dealers" id="dealer-list-1">
              <ul>
                <li><a href="https://017shop.ca/" target="_blank">/017</a></li>
          <li><a href="https://axelarigato.com/usd/catalogsearch/result?q=all+in" target="_blank">AXEL ARIGATO</a></li>
          <li><a href="https://axelarigato.com/usd/catalogsearch/result?q=all+in" target="_blank">AXEL ARIGATO</a></li>
          <li><a href="https://beneculture.com/collections/all-in" target="_blank">BENE CULTURE</a></li>
          <li><a href="https://www.facebook.com/pages/Block-190/2032847866941327" target="_blank">BLOCK190</a></li>
          <li><a href="https://www.antoinelaoun.com/" target="_blank">ANTOINE LAOUN</a></li>
          <li><a href="http://www.fifth-general-store.jp/" target="_blank">FIFTH GENERAL</a></li>
          <li><a href="https://www.generaladmission.us" target="_blank">GENERAL ADMISSION</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.size.co.uk/" target="_blank">SIZE?</a></li>
          <li><a href="https://www.ssense.com/en-ca/men/designers/all-in-eyewear" target="_blank">SSENSE</a></li>
          <li><a href="http://voskins.com/" target="_blank">VOSKIN</a></li>
          <li></li>
              </ul>
            </div>
            <div class="dealers" id="dealer-list-2">
              <ul>
              <li>Vancouver</li>
              <li>London, UK</li>
              <li>Stockholm</li>
              <li>Birhimgham</li>
              <li>Tel Aviv</li>
              <li>Montréal</li>
              <li>Tokyo</li>
              <li>Los Angeles</li>
              <li>London, UK</li>
              <li>Paris</li>
              <li>Amsterdam</li>
              <li class="transparent">Transparent</li>
              <li>Montreal</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <div class="logo-holder">
              <img src="{{ 'all_in_logo.svg' | asset_url }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full">
  <div class="container" id="footer-holder">
  <div class="row" id="footer">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p class="float-left">
          Contact<br><br>
          1888@allin.supply
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p class="float-right">
          <a href="http://allin-xxx.tumblr.com/" target="_blank">Tumblr</a><br>
          <a href="https://www.facebook.com/allin.supply/?ref=br_rs" target="_blank">Facebook</a><br>
          <a href="https://www.instagram.com/allin.supply/?hl=en" target="_blank">Instagram</a>
        </p>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">

    </div>
  </div>
</div>
</div>
