{% assign title = "all in®/Champion® capsule 1" %}
{% assign color_front = "#000" %}
{% assign color_back = "#000" %}
{% assign image = 'home-slider-slide-1.jpg' | asset_url %}

<div class="c-slide-show">
    <div class="slideshow-slide heading-font">
           <!-- <span class="slideshow-titre back black" style="color: {{color_back}}">&nbsp;—&nbsp;<span class="inline-block">{{title}}</span>&nbsp;—&nbsp;<span class="inline-block">{{title}}</span></span> -->
            <div class="slideshow-img-ctn">
                <div class="overflow-hidden relative">
                <!--    <div class="bg" style="background-image: url({{image}})"></div> -->
                   <div class="bg" style="background-image: url({{ 'logo-2.svg' | asset_url }})">
                  
                      
                  	
                  	</div>
                </div>
            </div>
    </div>
</div>