<div class="row middle-xs center-xs lookbook">

{% assign images = "1.JPG, 2.JPG, 3.JPG, 4.JPG, 5.JPG, 6.JPG, 7.JPG, 8.JPG, 9.JPG, 10.JPG, 11.JPG, 12.JPG, 13.JPG, 14.JPG, 15.JPG, 16.JPG, 17.JPG, 18.JPG, 19.JPG, 20.JPG, 21.JPG, 22.JPG, 23.JPG, 24.JPG" | split: ", " %}
<!-- hats -->
{% assign link1 = "null, null, null, null, /collections/accessories/products/yiddish-winter-hat-black-green-f, /collections/accessories/products/yiddish-winter-hat-black-green-f, /products/yiddish-winter-hat-red-black, /products/yiddish-winter-hat-red-black, /collections/accessories/products/yiddish-scarf-black-green-f, /collections/accessories/products/yiddish-scarf-black-green-f, null, null, null, null, null, null, null, null, null, null, null, null, null, null" | split: ", " %}
<!-- scarf -->
{% assign link2 = "null, null, null, null, null, null, /products/yiddish-scarf-red-black, /products/yiddish-scarf-red-black, /collections/accessories/products/yiddish-scarf-black-green-f, /collections/accessories/products/yiddish-scarf-black-green-f, null, null, null, null, null, null, null, null, null, null, null, null, null, null" | split: ", " %}
<!-- shirt -->
{% assign link3 = "/collections/t-shirts/products/spider-poison-t-shirt-black-green-f, /collections/t-shirts/products/spider-poison-t-shirt-black-green-f, /collections/t-shirts/products/spider-poison-t-shirt-blue-grey, /collections/t-shirts/products/spider-poison-t-shirt-blue-grey, /collections/w-jacket/products/puffy-winter-jacket-blue-reflective, /collections/w-jacket/products/puffy-winter-jacket-blue-reflective, /products/half-zip-pull-over-grey-black, /products/half-zip-pull-over-grey-black, /collections/long-sleeve/products/yiddish-long-sleeve-t-black-green-f, /collections/long-sleeve/products/yiddish-long-sleeve-t-black-green-f, /collections/long-sleeve/products/yiddish-long-sleeve-t-blue-grey, /collections/long-sleeve/products/yiddish-long-sleeve-t-blue-grey, /collections/long-sleeve/products/yiddish-long-sleeve-t-blue-grey, /collections/w-jacket/products/astro-jacket-white-reflective-1, /collections/w-jacket/products/astro-jacket-white-reflective-1, /collections/hoodie/products/yiddish-hoodie-black-grey, /collections/hoodie/products/yiddish-hoodie-black-grey, /collections/w-jacket/products/astro-jacket, /collections/w-jacket/products/astro-jacket, /collections/w-jacket/products/astro-jacket, /collections/hoodie/products/half-zip-pull-over-black-grey, /collections/hoodie/products/half-zip-pull-over-black-grey, /collections/w-jacket/products/puffy-winter-jacket-black-reflective, /collections/w-jacket/products/puffy-winter-jacket-black-reflective" | split: ", " %}
<!-- pants -->
{% assign link4 = "/products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/astro-pants, /products/astro-pants, /products/astro-pants, /products/astro-pants, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /collections/pants/products/astro-pants, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective, /products/cold-gust-pants-black-reflective" | split: ", " %}
<!-- shoes -->
{% assign link5 = "/products/astro-shoes-black-reflective, /products/astro-shoes-black-reflective, /collections/shoes/products/tennis-shoes-blue-reflective, /collections/shoes/products/tennis-shoes-blue-reflective, https://allinqa.myshopify.com/collections/shoes/products/tennis-shoes-blue-reflective, /collections/shoes/products/tennis-shoes-blue-reflective, /products/astro-shoes-grey-reflective, /products/astro-shoes-grey-reflective, /collections/shoes/products/tennis-shoes-1, /collections/shoes/products/tennis-shoes-1, /collections/shoes/products/tennis-shoes-blue-reflective,  /collections/shoes/products/tennis-shoes-blue-reflective, /collections/shoes/products/tennis-shoes-blue-reflective, /collections/shoes/products/tennis-shoes-2, /collections/shoes/products/tennis-shoes-2, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/astro-shoes-black-reflective, /collections/shoes/products/tennis-shoes-3, /collections/shoes/products/tennis-shoes-3" | split: ", " %}


{% for image in images %}
  <div class="col-xs-12 col-sm-7 lookbook-img-contain">
    <img src="{{ image | asset_url }}"
         alt="lookbook"
         itemprop="logo" />
         {% if link1[forloop.index0] != 'null' %}
        <a href="{{ link1[forloop.index0] }}" class="link1" target="_blank">+</a>
         {% endif %}
         {% if link2[forloop.index0] != 'null' %}
        <a href="{{ link2[forloop.index0] }}" class="link2" target="_blank">+</a>
         {% endif %}
         {% if link3[forloop.index0] != 'null' %}
        <a href="{{ link3[forloop.index0] }}" class="link3" target="_blank">+</a>
         {% endif %}
         {% if link4[forloop.index0] != 'null' %}
        <a href="{{ link4[forloop.index0] }}" class="link4" target="_blank">+</a>
         {% endif %}
         {% if link5[forloop.index0] != 'null' %}
        <a href="{{ link5[forloop.index0] }}" class="link5" target="_blank">+</a>
         {% endif %}
  </div>
{% endfor %}
</div>
