
{% assign number_of_related_products_to_show = settings.product-similar-products-amount | to_number %}

{% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign current_product_frame_lens_split  = product.title | split: ' - ' %}

{% if current_product_frame_lens_split[0] == 'dunk III' %}

{% if current_product_frame_lens_split[2] == 'optic' %}
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-sun-lens">sun lens</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-polarized">polarized</a>
</li>
<li class="active">
  <a href="#">optic</a>
</li>
{% endif %}

{% if current_product_frame_lens_split[2] == 'sun lens' %}
<li class="active">
  <a href="#">sun lens</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-polarized">polarized</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-optic">optic</a>
</li>
{% endif %}

{% if current_product_frame_lens_split[2] == 'polarized' %}
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-sun-lens">sun lens</a>
</li>
<li class="active">
  <a href="#">polarized</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/dunk-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-optic">optic</a>
</li>
{% endif %}

{% else %}

{% if current_product_frame_lens_split[2] == 'optic' %}
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-sun-lens">sun lens</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-polarized">polarized</a>
</li>
<li class="active">
  <a href="#">optic</a>
</li>
{% endif %}

{% if current_product_frame_lens_split[2] == 'sun lens' %}
<li class="active">
  <a href="#">sun lens</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-polarized">polarized</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-optic">optic</a>
</li>
{% endif %}

{% if current_product_frame_lens_split[2] == 'polarized' %}
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-sun-lens">sun lens</a>
</li>
<li class="active">
  <a href="#">polarized</a>
</li>
<li>
  <a href="http://www.allineyewear.com/products/{{ current_product_frame_lens_split[0] | replace: ' ', '-'}}-{{ current_product_frame_lens_split[1] | replace: ' ', '-'}}-optic">optic</a>
</li>
{% endif %}

{% endif %}
