{%- assign collection = collections[section.settings.collection]  -%}
{% include 'dump' with collection %}

<div class="{{ 'section.settings.title' | handleize }}">
  <div class="row middle-xs">

    <div class="col-xs-12 col-sm-12 center-xs">
      <div id="sort-by" class="row middle-xs center-xs">
        <div data-value="created-descending" class="active col-xs-4">New Arrival</div>
        <div data-value="price-ascending" class="col-xs-4">Low to high ($)</div>
        <div data-value="price-descending" class="col-xs-4">High to low ($)</div>
      </div>
    </div>


  <div class="row product-itemlist-container" id="toggle-product-container">

  {%- assign collectionClone = collection.products -%}
  {% include 'dump' with collectionClone %}
  <script>
  var collectionClone = "{{ collection.products }}"
  function compare(a,b) {
    if (a.price < b.price)
      return -1;
    if (a.price > b.price)
      return 1;
    return 0;
  }

  collectionClone.sort(compare);
  </script>
  {% for product in collectionClone %}
    <div class="col-xs-12 col-sm-6 center-xs">
      <a href="{{ product.url | within: collection }}">

        {% if product.featured_image != blank %}
          {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
        {% endif %}
      </a>
      {% if product.available %}
      <div class="product-information available row">
        <div class="col-xs-6 no-padding">
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
        </p>

        <p>{{ product.title }}</p>

        </div>

        <div class="col-xs-6 no-padding end-xs">
          <a href="{{ product.url | within: collection }}" class="go-to-product"><span>></span></a>
        </div>

        <p>
          {% assign search_option = "Size" %}
          {% assign delimiter = "|" %}
          {% assign option_index = "" %}
          {% assign option_value = "" %}
          {% assign option_array = "" %}

          {% for option_title in product.options %}
            {% if option_title == search_option %}
              {% assign option_index = forloop.index0 %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% for variant in product.variants %}
            {% if variant.available %}
              {% case option_index %}
              {% when 0 %}
                {% assign option_value = variant.option1 | append: delimiter %}
              {% when 1 %}
                {% assign option_value = variant.option2 | append: delimiter %}
              {% when 2 %}
                {% assign option_value = variant.option3 | append: delimiter %}
              {% endcase %}
              {% unless option_array contains option_value %}
                {% assign option_array = option_array | append: option_value %}
              {% endunless %}
            {% endif %}
          {% endfor %}

          {% assign option_array = option_array | split: delimiter %}

          {% if option_array.size > 0 %}
            <p>Available {{ search_option }}
            <span>
              {% for value in option_array %}
              <span>{{ value }}</span>
              {% endfor %}
            </span>
            </p>
            {% endif %}
          </p>

        </div>
        {% else %}
        <a href="{{ product.url | within: collection }}">
          <div class="product-information unavailable row middle-xs between-xs">
            <p class="col-xs-10 no-padding">{{ 'products.product.sold_out' | t }}</p>
            <p class="col-xs-2 no-padding end-xs">></p>
          </div>
        </a>
        {% endif %}
    </div>

    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
