<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div class="mobile-fixed-header mobile-only">
  {% if template.name == 'index' %}
    <h1 itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div class="h1" itemscope itemtype="http://schema.org/Organization">
  {% endif %}
      <a href="/" itemprop="url" class="site-logo site-header__logo-image">

          <img src="{{ 'logo.svg' | asset_url }}"
               alt="{{ shop.name }}"
               itemprop="logo">
      </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}

  {% if shop.customer_accounts_enabled %}
    <ul>
      {% if customer %}
        <li>
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>
        <li>
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
      {% else %}
        <li>
          {{ 'layout.customer.log_in' | t | customer_login_link }}
        </li>
        <li>
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    </ul>
  {% endif %}

</div>
<!-- <div id="navbar" class="overlay"> -->
<div data-section-id="{{ section.id }}" data-section-type="header-section" id="main-header" class="overlay main-header">
  <div class="header-contain">
    <header role="banner" class="desktop-only">
      {% if template.name == 'index' %}
        <h1 itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
          <a href="/" itemprop="url" class="site-logo site-header__logo-image">

              <img src="{{ 'logo.svg' | asset_url }}"
                   alt="{{ shop.name }}"
                   itemprop="logo">
          </a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        <ul>
          {% if customer %}
            <li>
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        </ul>
      {% endif %}

    </header>

    <nav role="navigation">
    <div class="toggle-close mobile-only" id="toggle-close">x</div>
      <ul class="site-nav top">
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign child_list_handle = link.title | handleize -%}
          {% if menus[child_list_handle].links != blank %}
            <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
              <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
              </a>
              <ul class="site-nav__submenu">
                {% for childlink in menus[child_list_handle].links %}
                  <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
            {% if link.title == 'Cart' %}
              <a href="{{ link.url }}" class="site-nav__link cart-count">{{ link.title }}
            ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
            </a>
            {% else %}
              <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        {% comment %}
        {% include 'currency-picker' %}
        {% endcomment %}
        <!-- <a href="/cart" class="cart-count">
          {{ 'layout.cart.title' | t }}
          ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
        </a> -->
      </ul>

      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}
        <ul class="site-nav bottom">
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </nav>
  </div>
</div>

<div id="container" class="mobile-only">
			<input type="checkbox" id="toggle">
			<label for="toggle" class="rows-container">
        <img src="{{ 'toggle.svg' | asset_url }}"
             alt="toggle.svg"
            >
  </label>
</div>

<script>

  'use strict';

  var toggleNav = document.getElementById("container");
  var toggleClose = document.getElementById("toggle-close");
  var mainNav = document.getElementById("main-header");
  let navigationLinks = document.getElementsByTagName('nav')[0];


function openNav () {
  var toggle = document.getElementById("toggle");
    	mainNav.style.width="100%";
      navigationLinks.style.opacity = "1";
      mainNav.classList += !mainNav.classList.contains('middle-xs') ? ' row middle-xs ' : '';
      document.body.classList += ' overflow-none ';
  }
function closeNav() {
  mainNav.style.width="0";
  navigationLinks.style.opacity = "0";
  document.body.classList.remove('overflow-none');
}
toggleNav.addEventListener("click", function() {
  openNav();
});
toggleClose.addEventListener("click", function() {
  closeNav()
});

</script>

<!-- </div> -->

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
