<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">


<div class="row middle-xs center-xs product-item-container">
  <div class="col-xs-6 col-sm-8 mobile-only title">
    <p>{{ product.title }}</p>
  </div>
  <div class="col-xs-6 col-sm-8 mobile-only price">
    <p data-product-price>
      {{ current_variant.price | money }}
    </p>
  </div>
  <div class="col-xs-12 col-sm-8">
    {% if featured_image != blank %}
      <!-- <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image> -->

      <div class="slick-slider">
          {% for image in product.images %}
        <div style="background: url('{{ image.src | img_url }}');" alt="{{ image.alt | escape }}" class="product-image" data-product-single-thumbnail></div>
        {% endfor %}
      </div>

    {% endif %}

    {% if product.images.size > 1 %}
    <!-- <div data-slick='{"slidesToShow": 1}'>
    </div> -->
      <!-- <ul>
        {% for image in product.images %}
          <li>
            <a href="{{ image.src | img_url: '480x480' }}" data-product-single-thumbnail>
              <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {% endfor %}
      </ul> -->
    {% endif %}
  </div>

  <div class="col-xs-12 col-sm-3 start-xs product-information-container">
    <div class="product-information desktop-only row">
      <p>{{ product.title }}</p>
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data" class="row">
      <div data-price-wrapper class="col-xs-12 last-xs first-sm no-padding">
        <span data-product-price class="desktop-only">
          {{ current_variant.price | money }}
        </span>

        <div class="rte col-xs-12 no-padding">
          {{ product.description }}
        </div>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>

      {% unless product.has_only_default_variant %}

        {% for option in product.options_with_values %}

          <div class="selector-wrapper js">
            <div class="row middle-xs">
              {% if current_variant.available %}
              <div class="col-xs-10 start-xs">
              <label class="SingleOptionSelector-{{ forloop.index0 }}" for="SingleOptionSelector-{{ forloop.index0 }}">
                Select your {{ option.name }}
              </label>
            </div>

            {% endif %}
          </div>

        {% endfor %}

            <select
              id="SingleOptionSelector-0"
              data-single-option-selector
              data-index="option{{ option.position }}">
                {% for variant in product.variants %}
                  <!-- {% if variant.available %} -->
                    {% if variant.available %}
                    {% assign availbilityStatus = ' available ' %}
                    {% else %}
                    {% assign availbilityStatus = ' unavailable ' %}
                  {% endif %}
                <option
                  value="{{ variant.title | escape }}" class="{{ availbilityStatus }}">
                    {{ variant.title }}
                </option>
                <!-- {% endif %} -->
              {% endfor %}
            </select>

            <div class="row middle-xs size-selects">
              {% for variant in product.variants %}
                  {% if variant.available %}
                    {% assign availbilityStatus = ' available ' %}
                    {% else %}
                    {% assign availbilityStatus = ' unavailable ' %}
                  {% endif %}
                <div class="col col-xs-1">
                  <label for="{{ variant.title | escape }}" class="radio-label {{ availbilityStatus }}">
                    {{ variant.title }}
                  </label>
                  <input type="radio" value="{{ variant.title | escape }}"  name="radio" class="radio-label {{ availbilityStatus }}"
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  />
                </div>

              {% endfor %}
            </div>
          </div>
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
        {% endfor %}
      </select>

      <script>
      (function ($, root, undefined) {

        $(document).ready(function () {

          //Disable checkout button if no size is selected
          $('.add-to-cart').attr("disabled", true);

          $('.selector-wrapper input').click(function() {
            var optionValue = $(this).val();
            //check no js corresponding innerhtml
            var correspondingOptionValue = $(this).closest('form').find('.no-js option');
            var selectedOption = $.map(correspondingOptionValue, function(value, key) {
              var innerString = value.innerHTML;
              var newString = innerString.trim();
              value.selected = false;
              if (newString == optionValue) {
                value.selected = true;
                return value;
              }
            });
            $('.add-to-cart').attr("disabled", false);
            $(this).closest('form').find('.radio-label').removeClass('active');
            $(this).prev('.radio-label').addClass('active');
          });

          $(".slick-slider").slick({
            infinite: true,
            arrows: true,
            slidesToShow: 1,
            variableWidth: true,
            // responsive: [{
            //   breakpoint: 768,
            //   settings: {
            //
            //
            //     }
            //   }]
            });
            $(".slick-slider").show();
        });
        //$('.your-element').slick('slickAdd',"<div></div>");
      })(jQuery, this);
      </script>

      <button
        type="submit" class="btn-contain add-to-cart"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %} >
        <div class="row between-xs middle-xs cart-text-contain {% unless current_variant.available %}{{ 'out' }}{% endunless %}">
          <div class="col-xs-8 start-xs col btn-1">
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
        </div>
        <div class="col-xs-3 end-xs btn-2">
          <span>+</span>
        </div>

        </div>

      </button>

      {% if current_variant.available %}
        <div class="row middle-xs between-xs btn-contain">
            <div class="col-xs-8 start-xs btn-1">
            <label for="Quantity">
              {{ 'products.product.quantity' | t }}
            </label>
          </div>
          <div class="col-xs-3 end-xs btn-2">
            <span class="quantity cart-count"></span>
            <!-- <select class="quantity" type="number" id="Quantity" name="quantity" value="1" min="1">
              {% for quantity in product.selected_variant %}
              <option value="{{ quantity }}">
                {{ quantity | t }}
              </option>
              {% endfor %}
            </select> -->
          </div>
        </div>
      {% endif %}
    <div class="row middle-xs between-xs btn-contain">
        <a class="row col-xs-12 middle-xs checkout" href="/cart" >
          <div class="col-xs-9">
            <span>Check out now</span>
          </div>
          <div class="col-xs-3 end-xs">
            <span>></span>
          </div>
        </a>
    </div>

      {% comment %} TODO: Conditional to render size chart based on product type{% endcomment %}
      <div class="row middle-xs between-xs btn-contain last-xs">
        <a href="#size-chart" class=" size-chart-open-popup col-xs-8 start-xs btn-1">
            {% if product.options contains 'Size' %}
              <span>See size chart</span>
            {% endif %}
        </a>

          <div class=" mfp-hide"  id="size-chart">
            {{ pages.size-chart-1.content }}
          </div>
          <a href="#size-chart" class=" size-chart-open-popup col-xs-3 end-xs btn-2">
              <span>+</span>
          </a>
        </div>

        <div class="row middle-xs between-xs last-xs retoure-a-la-boutique btn-contain">
          <a href="/" class="col-xs-8 no-padding btn-1">
            <span>Back to webstore</span>
          </a>
          <a href="/" class="col-xs-3 end-xs btn-2">
            <span><</span>
          </a>
        </div>

    </form>
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

<script>
$(document).ready(function() {
//Get and Set quantity
var currentQuantity = 0;
$.getJSON('/cart.js', function(cart) {
    currentQuantity = cart.items.reduce((total, amount) => {
        if (amount.product_title == {{product.title | json}}) {
          total += amount.quantity;
        }
      return total
    }, 0);
    $('.quantity.cart-count').text(currentQuantity);
  });
  $('.quantity.cart-count').text(currentQuantity);
});
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": false
      }
    ]
  }
{% endschema %}
